# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Environment variables
.env

# AWS
.aws-sam/
template*.yaml
template*.yml
*-deploy.sh
iam-policy.json
developer-iam-policy.json
import-resources.json

# Node modules
node_modules/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Local DB
*.db
*.log

*.env.dev
*.env.prod